body{
  position: relative;
  background-image: linear-gradient(rgba(255, 249, 249, 0.79),rgba(240, 231, 231, 0.884)),url("asset/bg13.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h1{
		font-size: 50px;
	    text-align: center;
	    color: navy;
	}
fieldset{
		position: relative;
	    z-index: 1;
	    background-image: linear-gradient(rgba(255, 249, 249, 0.79),rgba(240, 231, 231, 0.884)),url("asset/bg4.jpg");
		max-width: 500px;
		margin: 0 auto 100px;
		padding: 45px;
		text-align: center;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
fieldset legend{
		  background: #1F497D;
	    color: #fff;
	    padding: 5px 10px ;
	    font-size: 32px;
	    border-radius: 5px;
	    box-shadow: 0 0 0 5px #ddd;
	    margin-left: 20px;
	}
.center{
		text-align: center;
    	padding: 0 0 20px 0;
    	margin: 30px 0;
    	text-align: center;
    	font-size: 16px;
	}
	
span {
		color: red;
		float: inherit;
	}
.Back{
	text-align: center;
}
	.Back a{
    color: red;
    text-decoration: none;
    font-size: 25px;

}
.Back a:hover{
    color: blue;
}