a{
		text-decoration: none;
	}
	body

	{
		background-color: lightblue;
	}
		h1{
		color: #1F497D;
		font-size: 50px;
	}
	fieldset{
		border: 5px solid #1F497D;
   		background: #ddd;
	    border-radius: 5px;
	    padding: 15px;
	    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("asset/bg7.jpg");

	}
	fieldset legend{
		background: #1F497D;
	    color: #fff;
	    padding: 5px 5px ;
	    font-size: 32px;
	    border-radius: 5px;
	    box-shadow: 0 0 0 5px #ddd;
	    margin-left: 20px;
	}

	.tabs a{
		display: inline-table;
		position: relative;
		background-color: #c1d5e3;
		width: 300px;
		border: 15px #fcfcfc;
		padding: 5px;
		margin: auto;
		font-size: 20px;
		text-align: center;
	}
	.tabs-container{
		display: grid;
  	}
  	.Back a{
    color: red;
    text-decoration: none;
    font-size: 18px;
}
.Back a:hover{
    color: blue;
}


	

	