body{
  position: relative;
  background-image: linear-gradient(rgba(255, 249, 249, 0.79),rgba(240, 231, 231, 0.884)),url("asset/bg15.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.Back a{
    color: red;
    text-decoration: none;
    font-size: 20px;

}
.Back a:hover{
    color: blue;
}
h2{
    color:  navy;
    text-align: center;
    font-size: 35px;
}